# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
*.opensdf
*.sdf
*.suo
build.xml

Examples/cocos2d
Example/proj.android/.classpath
Example/proj.android/.cproject
Example/proj.android/.project
Example/proj.android/.settings
Example/proj.android/.externalToolBuilders

libfairygui/proj.ios_mac/fairygui.xcodeproj/project.xcworkspace
libfairygui/proj.ios_mac/build/fairygui.build
.DS_Store
.objs
Examples/ios-build/CMakeFiles/3.18.1/CompilerIdC/CompilerIdC.build
Examples/ios-build/CMakeFiles/3.18.1/CompilerIdCXX/CompilerIdCXX.build
Examples/ios-build/engine/cocos/core/FairyGUI.build
Examples/ios-build/engine/external/clipper/cocos2d_libs.build
Examples/ios-build/engine/external/clipper/FairyGUI.build
Examples/ios-build/engine/external/cocos2d_libs.build
Examples/ios-build/engine/external/ConvertUTF/cocos2d_libs.build
Examples/ios-build/engine/external/ConvertUTF/FairyGUI.build
Examples/ios-build/engine/external/edtaa3func/cocos2d_libs.build
Examples/ios-build/engine/external/edtaa3func/FairyGUI.build
Examples/ios-build/engine/external/poly2tri/FairyGUI.build
libfairygui/proj.ios_mac/fairygui.xcodeproj/xcuserdata
Examples/ios-build/FairyGUI.xcodeproj/project.xcworkspace/xcuserdata
Examples/ios-build/engine/external/xxtea/FairyGUI.build
Examples/ios-build/engine/external/xxtea/cocos2d_libs.build
Examples/ios-build/FairyGUI.xcodeproj/xcuserdata
Examples/ios-build/engine/external/xxhash/FairyGUI.build
*.build
**/xcuserdata
